.add-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planeAddForm {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.planeAddForm > * {
  height: 30px;
  margin: 10px 0;
}
